html, body {
  margin: 2%;
  padding: 0;
  background-color: #E7F3FF;
  font-family: "Segoe UI", sans-serif;
}
canvas {
  border: 2px solid black;
}

.title{
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  font-weight: 400;
}